nav {
  background-color: white;
  font-family: "Poppins";
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  p {
    margin: 0 0 0.75rem;
  }
  img {
    height: 5rem;
  }
  .pro {
    box-shadow: 0px 0px 20px #c3c3c3;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0 0.75rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    display: flex;
    gap: 0.5rem;
    transition: 0.5s;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
  button {
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0 0.75rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    display: flex;
    gap: 0.5rem;
    transition: 0.5s;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
  .act1 {
    background-color: #ffdf91;
    color: black;
  }
  .act2 {
    background-color: #10b98f;
    color: white;
  }
}

.paid {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #ffefae;
  color: #c39f03;
  &:hover {
    background-color: #ffefae;
    color: #c39f03;
  }
}
